.navbar-default{
	border-radius: 0;
    padding: 0;
    margin: 0;
}
li{
	list-style-type: none;
}
.book_info{
	width: 80%;
}
.navbar-brand img{
	width: 7em;
	cursor: pointer;
}
.title{
	font-weight: bolder;
	font-size: 1.3em;
	cursor: pointer;
}
span{
	font-weight: bolder;
}
.title{
	cursor: pointer;
}
.image{
	width: 10em;
	max-width: 10em;
}
.image > img{
	width: 8em;
	height: 12em;
	cursor: pointer;
}

ul>li img{
	height:20px;
	width: 20px;
}

#signin>a{
	height: 50px;
}

.dropdown-menu {
    border: none;
    border-top: 3px solid #595959;
}
.image img:hover, .image img:focus, .image img:active{
	box-shadow: 0 0 15px #36648B;
	outline-color:#36648B;
	outline-width: 1px;
}