<!DOCTYPE html>
<html>

<head>
	<title>Search Results</title>
	<meta charset="utf-8">
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/SearchResult.css">

	<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/cookie.js"></script>
	<script src="../static/js/SearchResult.js"></script>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12 column">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="http://47.95.205.76">
							<img src="../static/img/icon.png">
						</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<form class="navbar-form navbar-left" role="search" action="{{url_for('sss')}}" method="GET">
							<div class="form-group">
								<input type="text" name="type" value="0" style="display: none;">
								<input type="text" class="form-control" id="searchbox" placeholder="Book/Author/ISBN" name="search">
							</div>
							<button id="search_btn" class="btn btn-default" type="submit">Search</button>
						</form>
						<ul class="nav navbar-nav navbar-right">
							<li id="signin" style="display:none;">
								<a href="login">
									<img src="../static/img/login.png">
								</a>
							</li>
							<li class="dropdown" id="user" style="margin-top: 0px;">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<span id="username">Lujie</span>
									<strong class="caret"></strong>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="userIndex">My Home</a>
									</li>
									<li>
										<a href="userInfo">My Profile</a>
									</li>
									<li>
										<a href="#" id="signout">Sign Out</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
				<div class="row" style="margin-top: 1em;">
					<div class="col-md-4 column" style="text-align: left;">
						<h3>Search for
							<span id="searchfor"></span>
						</h3>
						<p>
							<span id="total">0</span> results found.</p>
					</div>
					<div class="col-md-4"></div>
					<div class="col-md-4 column">
						<ul class="pagination" style="float: right;margin-bottom: 0em;">
							<li>
								<a href="#" class="prepage">Prev</a>
							</li>
							<li>
								<a href="#" class="page1 page">#</a>
							</li>
							<li>
								<a href="#" class="page2 page">#</a>
							</li>
							<li>
								<a href="#" class="page3 page">#</a>
							</li>
							<li>
								<a href="#" class="page4 page">#</a>
							</li>
							<li>
								<a href="#" class="page5 page">#</a>
							</li>
							<li>
								<a href="#" class="nextpage">Next</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 1em;" style="background-color: #f1f2f7">
			<div class="col-md-12 column">
				<h2 id="noresult" style="display: none;">Sorry, no indicated books!</h2>
				<table class="table table-hoverd" id="booklist" style="width: 65%;">
					<tbody>
						<!-- 韩寒 / 国际文化出版公司 / 2010-9 / 25.00元 -->
						<tr style="display: none;">
							<td class="image">
								<img src="https://img1.doubanio.com/mpic/s9145679.jpg">
							</td>
							<td class="book_info">
								<ul>
									<li>
										<span class="title">中国哲学史</span>
									</li>
									<li>
										<span class="detail" style="margin-top: 0.5em;">#</span>
									</li>
									<li>ISBN:
										<span class="isbn">#</span>
									</li>
								</ul>
							</td>
						</tr>
						<tr style="display: none;">
							<td class="image">
								<img src="https://img1.doubanio.com/mpic/s9145679.jpg">
							</td>
							<td class="book_info">
								<ul>
									<li>
										<span class="title">#</span>
									</li>
									<li>
										<span class="detail" style="margin-top: 0.5em;">#</span>
									</li>
									<li>ISBN:
										<span class="isbn">#</span>
									</li>
								</ul>
							</td>
						</tr>
						<tr style="display: none;">
							<td class="image">
								<img src="https://img1.doubanio.com/mpic/s9145679.jpg">
							</td>
							<td class="book_info">
								<ul>
									<li>
										<span class="title">#</span>
									</li>
									<li>
										<span class="detail" style="margin-top: 0.5em;">#</span>
									</li>
									<li>ISBN:
										<span class="isbn">#</span>
									</li>
								</ul>
							</td>
						</tr>
						<tr style="display: none;">
							<td class="image">
								<img src="https://img1.doubanio.com/mpic/s9145679.jpg">
							</td>
							<td class="book_info">
								<ul>
									<li>
										<span class="title">#</span>
									</li>
									<li>
										<span class="detail" style="margin-top: 0.5em;">#</span>
									</li>
									<li>ISBN:
										<span class="isbn">#</span>
									</li>
								</ul>
							</td>
						</tr>
						<tr style="display: none;">
							<td class="image">
								<img src="https://img1.doubanio.com/mpic/s9145679.jpg">
							</td>
							<td class="book_info">
								<ul>
									<li>
										<span class="title">#</span>
									</li>
									<li>
										<span class="detail" style="margin-top: 0.5em;">#</span>
									</li>
									<li>ISBN:
										<span class="isbn">#</span>
									</li>
								</ul>
							</td>
						</tr>
						<tr style="display: none;">
							<td class="image">
								<img src="#">
							</td>
							<td class="book_info">
								<ul>
									<li>
										<span class="title">#</span>
									</li>
									<li>
										<span class="detail" style="margin-top: 0.5em;">#</span>
									</li>
									<li>ISBN:
										<span class="isbn">#</span>
									</li>
								</ul>
							</td>
						</tr>
						<tr style="display: none;">
							<td class="image">
								<img src="#">
							</td>
							<td class="book_info">
								<ul>
									<li>
										<span class="title">#</span>
									</li>
									<li>
										<span class="detail" style="margin-top: 0.5em;">#</span>
									</li>
									<li>ISBN:
										<span class="isbn">#</span>
									</li>
								</ul>
							</td>
						</tr>
						<tr style="display: none;">
							<td class="image">
								<img src="#">
							</td>
							<td class="book_info">
								<ul>
									<li>
										<span class="title">#</span>
									</li>
									<li>
										<span class="detail" style="margin-top: 0.5em;">#</span>
									</li>
									<li>ISBN:
										<span class="isbn">#</span>
									</li>
								</ul>
							</td>
						</tr>
						<tr style="display: none;">
							<td class="image">
								<img src="#">
							</td>
							<td class="book_info">
								<ul>
									<li>
										<span class="title">#</span>
									</li>
									<li>
										<span class="detail" style="margin-top: 0.5em;">#</span>
									</li>
									<li>ISBN:
										<span class="isbn">#</span>
									</li>
								</ul>
							</td>
						</tr>
						<tr style="display: none;">
							<td class="image">
								<img src="#">
							</td>
							<td class="book_info">
								<ul>
									<li>
										<span class="title">#</span>
									</li>
									<li>
										<span class="detail" style="margin-top: 0.5em;">#</span>
									</li>
									<li>ISBN:
										<span class="isbn">#</span>
									</li>
								</ul>
							</td>
						</tr>
						<tr style="display: none;">
							<td class="image">
								<img src="#">
							</td>
							<td class="book_info">
								<ul>
									<li>
										<span class="title">#</span>
									</li>
									<li>
										<span class="detail" style="margin-top: 0.5em;">#</span>
									</li>
									<li>ISBN:
										<span class="isbn">#</span>
									</li>
								</ul>
							</td>
						</tr>
						<tr style="display: none;">
							<td class="image">
								<img src="#">
							</td>
							<td class="book_info">
								<ul>
									<li>
										<span class="title">#</span>
									</li>
									<li>
										<span class="detail" style="margin-top: 0.5em;">#</span>
									</li>
									<li>ISBN:
										<span class="isbn">#</span>
									</li>
								</ul>
							</td>
						</tr>
						<tr style="display: none;">
							<td class="image">
								<img src="#">
							</td>
							<td class="book_info">
								<ul>
									<li>
										<span class="title">#</span>
									</li>
									<li>
										<span class="detail" style="margin-top: 0.5em;">#</span>
									</li>
									<li>ISBN:
										<span class="isbn">#</span>
									</li>
								</ul>
							</td>
						</tr>
						<tr style="display: none;">
							<td class="image">
								<img src="#">
							</td>
							<td class="book_info">
								<ul>
									<li>
										<span class="title">#</span>
									</li>
									<li>
										<span class="detail" style="margin-top: 0.5em;">#</span>
									</li>
									<li>ISBN:
										<span class="isbn">#</span>
									</li>
								</ul>
							</td>
						</tr>
						<tr style="display: none;">
							<td class="image">
								<img src="#">
							</td>
							<td class="book_info">
								<ul>
									<li>
										<span class="title">#</span>
									</li>
									<li>
										<span class="detail" style="margin-top: 0.5em;">#</span>
									</li>
									<li>ISBN:
										<span class="isbn">#</span>
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-4">
				<ul class="pagination" style="margin-top: 5px;">
					<li>
						<a href="#" class="prepage">Prev</a>
					</li>
					<li>
						<a href="#" class="page1 page">#</a>
					</li>
					<li>
						<a href="#" class="page2 page">#</a>
					</li>
					<li>
						<a href="#" class="page3 page">#</a>
					</li>
					<li>
						<a href="#" class="page4 page">#</a>
					</li>
					<li>
						<a href="#" class="page5 page">#</a>
					</li>
					<li>
						<a href="#" class="nextpage">Next</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- <div id="footer" class="container" style="margin-left: -15px;margin-right: -15px;"> 
			<nav class="navbar navbar-default">
    		<div class="navbar-inner navbar-content-center" style="text-align: center;">
    			<p class="text-muted credit" style="padding: 10px;">Xidian Univeristy</p>
        		<p>Contact information: <a href="mailto:zhengxiaojing@xidian.edu.cn">zhengxiaojing@xidian.edu.cn</a>.</p>
    		</div>
			</nav>
		</div> -->
	</div>
	<form id="changepage" action="sss" method="GET" style="display: none;">
		<input id="formpage" type="text" name="page" >
		<input id="formtype" type="text" name="type" >
		<input id="formsearch" type="text" name="search">
	</form>
</body>

</html>